<%- include('includes/head.ejs') %>
<br><h3> Deja un comentario:</h3>
    <div class="mb-3">
    <input type="text" class="form-control" id="comentario" placeholder="Escribe aqui tu comentario">
    </div>
    <button type="submit" class="btn btn-outline-info" id="btnEnviar">Enviar</button>
    <br><br>
<%- include('includes/foot.ejs') %>