<%- include('includes/head.ejs') %>
<br><h3> Deja un comentario:</h3>
    <form action="/comentarios/comentarios" method="POST">
        <label class="label" for="opinion">Comentario:</label>
        <input name="opinion" id="opinion" type="text" class="input"><br>
        <br><input class="btn btn-outline-info" type="submit" value="Enviar"><br><br>
    </form>
<%- include('includes/foot.ejs') %>