<%- include('includes/head.ejs') %>

<div class="container text-center">
    <br>
    <h3>Entrevista a Messi:</h3>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qYwlqx-JLok?si=JFjQm2W5Ik1APhrW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br><br>
</div>

<%- include('includes/foot.ejs') %>
