<%- include('includes/head.ejs') %>
<h3> Mis mejores jugadas:</h3>
        <br>
        <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RTQ9Hi_fIJk?si=yCEWxhTJbVsnIDmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <br><br>
<%- include('includes/foot.ejs') %>