<%- include('includes/head.ejs') %>

<br><h3 class="title">Registrate como un fan de Messi:</h3>
    <form action="/fan" method="POST">
      <label class="label" for="nombre">Nombre</label>
      <input name="nombre" id="nombre" type="text" class="input"><br>
      <br><input class="btn btn-outline-info" type="submit" value="Registrarse"><br><br>
    </form>

<%- include('includes/foot.ejs') %>
